* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5bc034;


}

li:hover {
    font-weight: 700;
}

h1 {
    font-size: 45pt;
    color: white;
    font-family: "Brush Script MT", "Times New Roman", sans-serif;
    padding: 10pt 10pt 20pt 10pt;

}

nav {
    z-index: 2;
    margin: 3pt;
    top: 0.5pt;
    position: sticky;
    background-color: rgba(89, 243, 112, 0.4);
    text-align: center;
    padding: 1pt 20pt 15pt;

}

nav ul li {

    display: inline;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li a {

    border: 5px groove;
    background-color: #ffffff;
    word-spacing: 13pt;
    padding: 5pt;
    margin: 5pt;
}

article {

    position: relative;
    left: 10px;
    z-index: 1;
    text-align: center;
    top: 150px;

}

article ul {
    text-align: start;
}



p {
    color: white;
    font-size: 18px;
    font-family: "Times New Roman", "Fira Code", sans-serif;
    position: static;
}

#map
{
    width: 300px;
    height: 300px;
}
table, td  ,th {
    border: 1px solid black;
    width: 400px;
    table-layout: fixed;
    font-size: 15px;
    padding: 5px;
    border-collapse: collapse;
    color: whitesmoke;
background-color: rgba(222, 108, 117, 0.26);
}

th {
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    background-color: #ff7f8a;
}