* {
    background-color: #5bc034;
}

h1 {
    font-size: 45pt;
    color: white;
    font-family: "Brush Script MT" , "Times New Roman" , sans-serif;
    padding: 10pt 10pt 20pt 10pt;
    position: static;

}
nav {
    z-index: 2;
    position: sticky;
    top: 80pt;
    margin: 2pt;

}
nav ul li {
    display: inline
}
nav ul li a {

    border: 5px;
    border-style: groove;
    background-color: #ffffff;
    word-spacing: 13pt;
    padding: 5pt;
    margin: 2pt;
}
article {
    overflow: auto;
    position: static;
    z-index: -1;
}
.volgendartikel
{
    position: static;


}
table, th, td
{
    border: 1px solid black;
}
p
{
    color: white;
    font-size: 12pt;
    font-family: "Times New Roman" , "Fira Code" , sans-serif;
    position: static;
}

